.contact .crd-heading {
    margin-bottom: 8px
}



.contact .crd-subheading-container {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;

}

.card-form {
    margin-bottom: 32px;
}

@media (min-width: 992px) {
    .card-form {
        margin-bottom: 0;
    }
}

.form-row {
    justify-content: space-evenly;
    margin: 0 24px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.form-label {
    font-family: Avenir-Black;
    font-size: 12px;
    color: #515151;
    letter-spacing: 0;
    line-height: 21.6px;
    text-transform: uppercase;

}

.form-control {
    border: none;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #aeaeae;
    font-weight: 400;
    color: #000000;
    box-shadow: none;
    padding: 0;
    color: red;
    /* Text Style */
    font-family: Avenir-Book;
    font-size: 12px;
    color: #1C1C1C;
    letter-spacing: 0;
}

.form-btn {
    border-radius: 4px;
    background-color: rgb(208, 2, 27) !important;
    font-weight: 700;
    margin-top: 24px;
}

.contact-map {
    border-radius: 16px;
    min-height: 200px;
}


/* Changing input color on focus */

.form-control[type=text]:focus,
.form-control:focus {
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: 2px solid rgb(208, 2, 27)
}