.row.srv {
    justify-content: center;
}

.services .srv-icon {
    margin-bottom: 8px;
    height: 100px;


}

.services h3 {
    font-family: Avenir-Black;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 16px;
}

.services .srv-text {
    font-family: Avenir-Medium;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}



.service {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.service:last-of-type {
    margin-bottom: 0px;
}

.service p {
    flex-grow: 1;
}

@media(min-width:576px) {
    .service {
        margin-bottom: 0px;
    }
}