.alice-carousel__prev-btn {
    text-align: center
}

.alice-carousel__next-btn-item,
.alice-carousel__prev-btn-item {
    font-family: Avenir-Medium;
    font-weight: 500;
    font-size: 16px;
    color: #d0021b
}

.alice-carousel__dots-item {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(208, 2, 26, .2)
}

.alice-carousel__dots-item.__active {
    background-color: #d0021b
}

.alice-carousel__slide-info {
    color: #fff;
    background-color: rgba(208, 2, 26, .2)
}