footer {
    background-color: white;
    width: 100%;
    ;

}

footer p {
    margin-bottom: 0;
}

footer .footer-row {
    padding: 40px 24px;
    justify-content: space-around;

}

footer .footer-logo {
    max-height: 22px;
    margin-bottom: 8px;
}

footer .subheading {
    font-family: Avenir-Heavy;
    font-size: 12px;
    color: #D0021B;
    letter-spacing: 0;
    margin-bottom: 16px;
}

footer .tel,
footer .email {
    display: flex;
    align-items: center;
    margin: 8px 0;

}

footer .tel i,
footer .email i {
    margin-right: 8px;
    font-size: 14px;
}

footer .tel p,
.email p {
    display: flex;
    font-family: Avenir-Medium;
    font-size: 12px;
    color: #000000;
}

.footer-top {
    align-self: center
}

.address-container {
    margin: 8px 0;
}

@media(min-width:768px) {
    .footer-top {
        margin-bottom: 0;
    }


    .address-container:first-of-type {
        margin-top: 0;
    }

    .address-container:last-of-type {
        margin-bottom: 0;
    }
}


.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer .address-title {
    font-family: Avenir-Black;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    margin: 8px 0;
}

footer .address-title:first-of-type {
    margin-top: 0;
}


footer .address p {
    font-family: Avenir-Medium;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
}